@page "/about"

<MudContainer MaxWidth="MaxWidth.Medium">
    <a href="\">
        <MudButton Variant="Variant.Filled" Color="Color.Primary">← Back</MudButton>
    </a>
    <About />
</MudContainer>

