@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <MudLayout>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <MudLink href="/about">About</MudLink>
        </div>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</div>
