@inherits ComputedStateComponent<IReadOnlyList<IntegrationMessage>>;

@if (State.HasValue)
{
    <table>
        <thead>
            <tr>
                <th>Expand</th>
                <th>Subject</th>
                <th>Id</th>
                <th>First enqueued</th>
                <th>Dead letter reason</th>
                <th>Attempts</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in State.Value)
            {
                <IntegrationMessageView Message="message" />
            }
        </tbody>
    </table>
}
else
{
    <div>Loading...</div>
}


@code {
    [Inject]
    public IntegrationMessageService IntegrationMessageService { get; set; } = null!;

    protected override async Task<IReadOnlyList<IntegrationMessage>> ComputeState(CancellationToken cancellationToken)
    {
        return await IntegrationMessageService.GetFailedMessages();
    }
}
