@inherits ComputedStateComponent<IReadOnlyList<IntegrationMessage>>;

<h3>IntegrationMessageListView</h3>

@code {
    protected override Task<IReadOnlyList<IntegrationMessage>> ComputeState(CancellationToken cancellationToken)
    {
        throw new NotImplementedException();
    }
}
