@inherits ComputedStateComponent<IReadOnlyList<IntegrationMessage>>;

<h3>Failed messages</h3>

@if (State.HasValue)
{
    @foreach (var message in State.Value)
    {
        <IntegrationMessageView Message="message" />
    }
}
else
{
    <div>Loading...</div>
}


@code {
    [Inject]
    public IntegrationMessageService IntegrationMessageService { get; set; } = null!;

    protected override async Task<IReadOnlyList<IntegrationMessage>> ComputeState(CancellationToken cancellationToken)
    {
        return await IntegrationMessageService.GetFailedMessages();
    }
}
