<div>
    <label for="nameSpaceInput">Fully qualified namespace</label>
    <input name="nameSpaceInput" @bind="InputText" />
    <button @onclick="SelectNamespace">Connect</button>
</div>
@code {
    [Inject]
    public SelectedNameSpaceState GlobalState { get; set; } = null!;

    string InputText { get; set; }

    void SelectNamespace()
    {
        GlobalState.SelectNamespace(InputText);
    }
}
