<div>
    <label for="queueInput">Fully qualified namespace</label>
    <input name="queueInput" @bind="InputText" />
    <button @onclick="SelectQueue">Use queue</button>
</div>
@code {
    [Inject]
    public SelectedQueueState GlobalState { get; set; } = null!;

    string InputText { get; set; }

    void SelectQueue()
    {
        GlobalState.SelectQueue(InputText);
    }
}
