@inherits ComputedStateComponent<List<DeadLetterQueueHelper.State.Models.Queue>>

<h3>Add a queue to poll for failed messages</h3>
<form @onsubmit=AddQueue>
    <label for="nameSpaceInput">Service Bus Namespace</label>
    <input name="nameSpaceInput" @bind=InputNamespace />
    <label for="queueInput">Queue name</label>
    <input name="queueInput" @bind=InputQueueName />
    <button type="submit">Add queue</button>
</form>

<h3>Queues being polled</h3>
<ul>
    @foreach (var queue in Queues)
    {
        <QueueListItem Queue=queue />
    }
</ul>

@code {
    [Inject]
    public SelectedQueuesService SelectedQueuesService { get; set; } = null!;

    private string InputQueueName { get; set; } = "";
    private string InputNamespace { get; set; } = "";

    private List<DeadLetterQueueHelper.State.Models.Queue> Queues => State.Value ?? [];

    protected override async Task<List<DeadLetterQueueHelper.State.Models.Queue>> ComputeState(CancellationToken cancellationToken)
    {
        return await SelectedQueuesService.GetSelectedQueues();
    }

    private async Task AddQueue()
    {
        await SelectedQueuesService.Add(new(InputNamespace, InputQueueName));
    }


    private async Task RemoveQueue(Queue queue)
    {
        Console.WriteLine("Remove", queue);
        await SelectedQueuesService.Remove(new(InputNamespace, InputQueueName));
    }
}
