@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits ComputedStateComponent<DateTimeOffset>

<span>@TimeText</span>
<button @onclick="Refresh">Refresh</button>

@code {
    [Inject]
    public TimeService TimeService { get; set; } = null!;

    [Inject]
    public IAccessTokenProvider AccessTokenProvider { get; set; } = null!;

    private string TimeText => State.Value.ToString();

    protected override Task<DateTimeOffset> ComputeState(CancellationToken cancellationToken)
    {
        return TimeService.GetTime();
    }

    private async Task Refresh()
    {
        var accessToken = await AccessTokenProvider.RequestAccessToken();

        TimeService.Refresh();
    }
}
